.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.82, 0.165, 1);

}
.HeaderScrolled {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    backdrop-filter: blur(10px);
}
.HeaderGroup {
    max-width: 1000px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;   /*vertical */
    justify-items: center; 

}
.Header a {
    color: #ffd38a;
    font-weight: bolder;
    font-size: 20px;
    font-family: SF Pro Display;
}
.Header img {
    width: 26px;
    margin-top: 5px;
    align-content: center;
    justify-content: center;
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }
    .HeaderGroup {
        grid-template-columns: repeat(3, auto);

    }

    .Header a:nth-child(3) {
        display: none;
    }
    .Header a:nth-child(5) {
        display: none;
    }
}